.metronome-container {
    position: fixed;
    top: 20px;
    /* Ajuste conforme necessário */
    right: 20px;
    /* Ajuste conforme necessário */
    z-index: 999;
    /* Certifique-se de que o metrônomo esteja acima de outros elementos */
}

.metronome {
    background-color: #fff;
    /* Cor de fundo */
    padding: 10px;
    border: 1px solid #ccc;
    /* Adicione uma borda para destacar */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adicione uma sombra sutil */
}

.bpm-slider {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

button {
    padding: 8px 16px;
    background-color: hsl(0, 100%, 50%);
    /* Cor do botão */
    color: #fff;
    /* Cor do texto do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    /* Altera a cor de fundo ao passar o mouse */
}